mixin header(data)
    header.header
        +burger()
        ul.header__list.container
            li.header__item.active
                a(href="#1").header__link Личная информация
            li.header__item
                a(href="#2").header__link Опыт
            li.header__item
                a(href="#3").header__link JavaScript
            li.header__item
                a(href="#4").header__link О себе
