.slider{
    margin-bottom: 100px;
    @media (max-width: 768px) {
        margin-bottom: 50px;
    }
}

.slider__list{
    display: flex;

    color: #2e211c;
    font-size: 13px;
    font-weight: 300;
    align-items: flex-end;
    @media(max-width: 425px){
        font-size: 10px;
    }
}

.slider__item{
    width: 25%;
    text-align: left;
    margin-bottom: 15px;
    position: relative;
    &:last-child{
        text-align: right;
    }
    &:after{
        content: '';
        position: absolute;
        width: 1px;
        height: 15px;
        left: 0;
        top: calc(100% + 3px);
        border-left: 1px dotted #000;
    }
    &:before{
        content: '';
        position: absolute;
        height: 15px;
        width: 1px;
        background-color: #fff;
        top: calc(100% + 15px);
        z-index: 1;
    }
    &:nth-child(1){
        &:after{
            height: 20px;
        }
    }
    &:nth-child(4){
        &:after{
            height: 12px;
            right: 0;
            left: auto;
        }
        &:before{
            right: 0;
            left: auto;
        }
    }

}

.slider__line{
    position: relative;
    svg{
        display: block;
    }
}

.slider__svg-line-active{
    position: absolute;
    top: 4px;
    @media(max-width: 768px){
        top: 2px;
    }
    &.active-1{
        width: 0;
    }
    &.active-2{
        width: 25%;
    }
    &.active-3{
        width: 50%;
    }
    &.active-4{
        width: 100%;
        top: 1px;
    }
}

.slider__svg-pointer{
    margin-left: -12px;
    left: 50%;
    position: absolute;
    top: calc(100% + 3px);
    @media (max-width: 768px) {
        width: 18px;
        height: 20px;
        margin-left: -9px;
    }
    &.active-1{
        left: 0;
    }
    &.active-2{
        left: 25%;
    }
    &.active-3{
        left: 50%;
    }
    &.active-4{
        left: 100%;
    }
}
